apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageUpdateAutomation
metadata:
  name: justneverlift
  namespace: flux-system
spec:
  interval: 1m
  sourceRef:
    kind: GitRepository
    name: justneverlift
  git:
    checkout:
      ref:
        branch: master
    commit:
      author:
        email: fluxcdbot@users.noreply.github.com
        name: fluxcdbot
      messageTemplate: '{{range .Changed.Changes}}{{print .OldValue}} -> {{println .NewValue}}{{end}}'
    push:
      branch: master
  update:
    strategy: Setters
    path: ./clusters/my-cluster
